<mat-card>
        <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Detalle de asados</mat-card-title>
        </mat-card-title-group>  
        <mat-card-actions align="end">
            <button mat-raised-button type="button" (click)="goBack()" >
                <mat-icon>arrow_back</mat-icon>Cancelar
            </button>
        </mat-card-actions>
    </mat-card-header> 
    <mat-card-content>
        <p>Nombre: {{ event.name }}</p>
        <p>Descripcion: {{ event.description }}</p>
        <p>Precio: {{ event.price }}</p>
        <p>Lugar: {{ event.place }}</p>            
    </mat-card-content>
</mat-card>
