<mat-card>
    <mat-card-title>Listado de asados</mat-card-title>
    <mat-card-content>
      
      <mat-list>
        <mat-divider></mat-divider>
        <app-event-list-item *ngFor="let event of events" (gotoEvent)="showDetail($event)" [event]="event"></app-event-list-item>
      </mat-list>
      
    </mat-card-content>
    <button mat-button  (click)="btnAddClick();">Agregar asado</button>
  </mat-card>

  <mat-card>
    
    <router-outlet></router-outlet>
  </mat-card>
  
  <!-- <mat-card  *ngIf="eventDetail">
    <mat-card-title>Detalle de asados</mat-card-title>
    <app-event-list-detail [event]="eventDetail"></app-event-list-detail>
  </mat-card> -->