<form action="">
<mat-card>
  <mat-card-header>
    <!-- <mat-icon>help</mat-icon> -->
    <mat-card-title-group>
        <mat-card-title>
            Listado de invitados
        </mat-card-title>
        <mat-card-subtitle>
          va al asado: {{ peopleToMarked }}
        </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header> 

  <mat-card-content>
    <form #f="ngForm">
      <p>
        <mat-form-field>
            <input matInput placeholder="Mail o Nombre" required [(ngModel)]="userSearch"  (keyup)="searchUser()" (change)="searchUser()" [matAutocomplete]="auto" name="user_search">
            <mat-hint>Ingrese e-mail o nombre de invitado</mat-hint>
            
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of userOptions" [value]="option.display">{{option.display}}</mat-option>
        </mat-autocomplete>       
      </p>
      <button mat-raised-button align="end" color="accent" type="submit" [(disabled)]="!f.valid">
          <mat-icon>check</mat-icon>Agregar
      </button>
  </form>


  <mat-list>
      <mat-divider></mat-divider>
      <app-user-list-item *ngFor="let user of users" (plusOne)="addOneToMarked($event)" [user]="user"></app-user-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-fab color="primary"  (click)="btnAddClick();"><mat-icon>add</mat-icon></button>
  </mat-card-actions>
</mat-card>
